@font-face {
  font-family: 'HK Grotesk';
  src: local('HK Grotesk'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-bold.eot'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-bold.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-bold.woff2') format('woff2'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-bold.woff') format('woff');
  font-weight: bold 700;
  font-style: normal;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'HK Grotesk';
  src: local('HK Grotesk'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-medium.eot'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-medium.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-medium.woff2') format('woff2'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: local('HK Grotesk'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-regular.eot'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-regular.woff2') format('woff2'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-regular.woff') format('woff');
  font-weight: normal 400;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: local('HK Grotesk'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-semibold.eot'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-semibold.eot?#iefix')
      format('embedded-opentype'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-semibold.woff2') format('woff2'),
    url('/src/assets/fonts/hk-grotesk/hkgrotesk-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Gelasio';
  src: local('Gelasio'),
    url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
  unicode-range: U+000-5FF;
}
