/* Font Declarations/Imports */

@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

@font-face {
  font-family: 'HK Grotesk';
  src: local('HKGrotesk'), local('HK Grotesk'), local('HankenGrotesk');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-bold.eot');
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-bold.eot?#iefix')
      format('embedded-opentype'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-bold.woff2') format('woff2'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-bold.woff') format('woff'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-bold.ttf') format('truetype');
  font-weight: bold 700;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-medium.eot');
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-medium.eot?#iefix')
      format('embedded-opentype'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-medium.woff2') format('woff2'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-medium.woff') format('woff'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-regular.eot');
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-regular.eot?#iefix')
      format('embedded-opentype'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-regular.woff2') format('woff2'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-regular.woff') format('woff'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-regular.ttf') format('truetype');
  font-weight: normal 400;
  font-style: normal;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-semibold.eot');
  src: url('~@/assets/fonts/hk-grotesk/hkgrotesk-semibold.eot?#iefix')
      format('embedded-opentype'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-semibold.woff2') format('woff2'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-semibold.woff') format('woff'),
    url('~@/assets/fonts/hk-grotesk/hkgrotesk-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+000-5FF;
}
